.panel .panel-heading .icon {
    margin-right: 10px;
}

.panel .btn-group {
    top: -5px;
    margin-right: 5px;
}

input[type="checkbox"], input[type="radio"] {
    height: 15px;
}


/* For fixed navbar uncomment:  */


/*body {
    padding-top: 70px;
}*/
